<settings>

  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USER}</username>
      <password>${env.SONATYPE_PASS}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.keyname>${env.GPG2_KEY}</gpg.keyname>
        <gpg.passphrase>${env.GPG2_PASS}</gpg.passphrase>
        <gpg.defaultKeyring>false</gpg.defaultKeyring>
        <gpg.publicKeyring>.mvn/pubring.gpg</gpg.publicKeyring>
        <gpg.secretKeyring>.mvn/secring.gpg</gpg.secretKeyring>
      </properties>
    </profile>
  </profiles>

</settings>